
body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
}

html,body {
      width: 100%;
     overflow-x: hidden;
  }


/*---------------------------------------
    Typorgraphy
-----------------------------------------*/
h1,h2,h3,h4,h5,h6,
blockquote {
  font-weight: 600;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding-top: 5px;
}

h2 {
  font-size: 2rem;
  padding-bottom: 14px;
  text-transform: uppercase;
}

#trainer h2,
#newsletter h2,
#blog h2,
#price h2 {
  padding-bottom: 2px;
}

blockquote, h3 {
   font-family: 'Lato', sans-serif;
  font-style: normal;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
    color: #999;
    letter-spacing: 2px;
    margin-top: 22px;
}

p {
    color: #707070;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.4px;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General
-----------------------------------------*/

#price, #blog {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#blog {
	background: #fff;
}

#trainer,
#newsletter,
#price,
#testimonial,
#testimonial2,
#blog-header {
  text-align: center;
}

#home {
  text-align: left;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}



/*---------------------------------------
    Preloader section
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: #26253a;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

/*---------------------------------------
    Home section
-----------------------------------------*/
.show-logo {

	top: 5px;
	left: 20px;
	margin: -5px 0px 0px 10px;
	z-index: 2;
}


.img-logo {
	width: 40%;
	height: 40%;
}

.leave-top-margin {
	position:relative;
	bottom: -200px;
	/* left: 50%; */
	margin: 0 auto;
	z-index: 0;
}

#logo {
	height: 80px;
	background: #f8c7da
}

#home {
	background: url('../images/home-bg-slider-img4_2880.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

@supports (-webkit-touch-callout: none) {
	#home {
			background-attachment: scroll !important;
	}
}

@media all and (orientation:landscape) {
	#home {
		background: url('../images/home-bg-slider-img4_2880.jpg');
		background-position: 0% 0px !important;
		 height: 100vh;
	}
}

@media all and (orientation:portrait) {
    #home {
        background-image: url('../images/home-bg-slider-img4_1600.jpg') !important;
        -webkit-background-size: cover;
    	background-size: cover;
    	background-position: center center;
	}

	#home .btn {
  	bottom: 30% !important;
  	left: 45% !important;
  	}
}

@media (max-width: 390px) and (orientation:portrait) {
	#home .btn {
		padding: 16px 20px 16px 15px !important;
	}
}

#home h3 {
  letter-spacing: 2px;
}

#home .btn {
  position: absolute;
  bottom: 5%;
  left: 75%;
  background: #f8a212;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 16px 38px;
  margin-top: 28px;
  transition: all 0.4s ease-in-out;
}


/*---------------------------------------
   Overview  section
-----------------------------------------*/
#overview {
  padding-top: 14rem;
  padding-bottom: 20rem;
  position: relative;
}

#overview img {
  border: 4px solid #f9f9f9;
  padding: 20px 20px 40px 20px;
}

#overview blockquote {
  background: #ffffff;
  box-shadow: 0px 2px 8px 10px rgba(50, 50, 50, 0.04);
  border-left: 8px solid #26253a;
  word-spacing: 1px;
  letter-spacing: 1px;
  position: relative;
  font-size: 20px;
/*   top: 240px; */
  left: 80px;
  padding: 62px 52px;
}

#overview .overview-detail {
  position: relative;
  top: 40px;
}

#overview .btn {
  background: transparent;
  border: 4px solid #117a8b;
  border-radius: 0px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 14px 46px;
  transition: all 0.4s ease-in-out;
  margin-top: 32px;
}

#overview .btn:hover {
  background: #26253a;
  color: #ffffff;
}

/*---------------------------------------
    Blog section
-----------------------------------------*/
#blog .blog-thumb {
  border: 1px solid #fff;
  position: relative;
  padding: 60px 20px 10px 20px;
  min-height: 280px !important;
  color: #fff;
  width: auto;
}

.blog-title-text {
  color: #000000;
  position: relative;
  background: #fff;
  margin-top: -20px;
  padding: 2px 5px 10px 5px;
}

.content {
  padding: 10px 18px;
  display: none;
  overflow: hidden;
  background-color: #fffafa;
}

.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  background: #fff;
/*   width: auto; */
}


#blog h3 a {
  color: #ffffff;
}

#blog .blog-date {
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
}

/* blog single page */

/*---------------------------------------
    Price section
-----------------------------------------*/
#price {
  background: white;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #000000;
}

.price__header {
	font-size: 3rem;
}

#price .pricing__item {
  position: relative;
  font-size: 20px;
  margin-top: 72px;
  padding: 1em;
  cursor: default;
  color: #000;
  border: 1px solid #666;
 /*  background: linear-gradient(135deg, #F4F2F3, #BFC6D0); */
  -webkit-transition: background-color 0.6s, color 0.3s;
  transition: background-color 0.6s, color 0.3s;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}


#price .pricing__feature-list {
  text-align: left;
}

#price .pricing__title {
  font-size: 2.5em;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0;
}

#price .pricing_price_box {
  display: contents;
  width: 100%;
}

#price .pricing__price {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff !important;
  text-align: left;
  width: 200px;
  height: 40px;
  margin-top: 12px;
  padding-top: 10px;
  background: #f8a212;
  border: none;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

#price .pricing__price:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #c07501;
  border-bottom: 20px solid #c07501;
  border-left: 20px solid transparent;
  border-right: 20px solid #c07501;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

#price .pricing__price:hover {
  	color: #fff;
  	font-size: 1.5rem;
  	padding-top: 8px;
}

#price .pricing__price:active {
  	color: #fff;
  	font-size: 1.5rem;
}

.price-button-clicked {
	color: #fff;
  	font-size: 1.5rem;
}

.price-button-reset {
	color: #fff;
  	font-size: 1.5rem;
}


.pricing__pre {
	position: relative;
	max-width: 30em;
	background-color: #fff;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
	font-size: 1.2rem !important;
	font-weight: normal;
	text-align: left;
	margin-left: 18px;
}


 @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out 0s;
  -moz-animation: fadeIn 1s ease-in-out 0s;
  -o-animation: fadeIn 1s ease-in-out 0s;
   animation: fadeIn 1s ease-in-out 0s;
}

.aircon-class a {
	color: #fff !important;
	padding-left: 15px;
}


.no-gutters-col {
	padding-right: 5px;
    padding-left: 5px;
}

#price .pricing__feature-list {
  margin: 0;
  padding: 1em 1em 2em 2em;
  font-weight: bold;
  list-style: none;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
}

/*---------------------------------------
    Testimonial section
-----------------------------------------*/
#testimonial, #testimonial2 {
    background: #ffffff;
    color: #26253a;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: -webkit-center;
}

#testimonial .fa, #testimonial2 .fa {
  font-size: 42px;
  padding-bottom: 14px;
}

#testimonial h3, #testimonial2 h3 {
  letter-spacing: 1px;
}


/*---------------------------------------
   Footer section
-----------------------------------------*/
footer {
  background: #000000;
  color: #ffffff;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

footer .col-md-5 {
  position: relative;
  left: 100px;
}

footer .col-md-5 div {
  padding-top: 10px;
}

footer h4 {
  margin-top: 0px;
}

footer .copyright-text {
  padding-top: 80px;
  text-align: center;
}

.copyright-text a {
	color: #707070;
	transition: all 0.4s ease-in-out;
}

.copyright-text a:hover {
	color: #ffffff;
}


/*---------------------------------------
   Social icon
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #999;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #ffffff;
}

  #price .pricing__feature {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: -20px;
    text-align: left;
    list-style-type: circle;
    padding-bottom: 7px;
  }

  #overview {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

.blink-text{
animation: blinker 0.8s 2s;
}
@keyframes blinker {
60% {
opacity: 0;
}
}


/*---------------------------------------
   Responsive styles
-----------------------------------------*/


@media (max-width: 980px) {
  #home {
    height: 100vh;
  }

  #overview {text-align: center;}

  #overview blockquote {
    top: -60px;
    padding: 82px;
  }

  #overview .overview-detail {
    margin-left: 20px;
    top: 72px;
  }

  footer .col-md-5 {
    left: 30px;
  }

}

@media all and (orientation:potrait) {
  #overview {
    padding-top: -6rem !important;
    padding-bottom: 10rem;
  }
  #blog .blog-thumb {
  padding: 60px 0px 10px 0px;
  }

 #overview blockquote {
    position: relative;
    top: -80px;
    left: 300px;
 }
  #home .leave-top-margin {
	/* left: 500px; */
	bottom: -250px;
	height: 70vh;
  }
}



@media (min-width: 768px) {
 .learn-more {
  	margin-bottom: 2rem;
  }
}


@media all and (orientation:landscape) {

  #home .leave-top-margin {
  	bottom: -150px;
	/* left: 500px; */
  }
  .learn-more {
  	margin-bottom: 1rem;
  }
   #overview blockquote {
    position: relative;
    top: -80px;
    left: 300px;
 }
}

@media (max-height: 650px) and (orientation:landscape) {

  	html {
  		font-size: 11px;
  	}
  	#overview blockquote {
		position: relative;
		top: -80px;
		left: 100px;
 	}
}

@media (min-width: 980px) {
  html {
  	font-size: 14px;
  }
}

@media (min-width: 990px) and (orientation:landscape) {
  html {
  	font-size: 12px;
  	}
#home .leave-top-margin {
	bottom: -40px;
  	}
}

@media (max-width: 767px) {

  .navbar-default .navbar-brand {
    line-height: 15px;
  }

  .navbar-default .navbar-nav li a {
    font-size: 20px;
    line-height: 18px;
  }

  #price {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

    #blog {
    padding-top: -20px !important;
    padding-bottom: 6rem;
  }

  #blog .blog-thumb {
  padding: 60px 0px 10px 0px;
  width: 100%;
  }


  #overview blockquote {
    top: 80px;
    left: 30px;
    right: 10px;
  }

}


@media (max-width: 780px) {
  html {
  font-size: 12px;
  }
  #home {
    height: 100vh;
  }

  #blog .blog-comment-form {
    margin-bottom: 42px;
  }

  p {font-size: 17px;}

  #overview img {
    margin-bottom: -60px;
  }

  #overview .overview-detail {
    margin-top: 100px;
    top: 0px;
  }

  #price .pricing__action {
    font-size: 13px;
    line-height: 18px;
  }

  #price .pricing__title {
    font-size: 4rem;
    line-height: 4rem;
  }

  footer {text-align: center;}

  footer .col-md-5 {
    left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }



}


@media (max-width: 650px) {

  #overview blockquote {
    position: relative;
    top: 0px;
    left: 0px;
  }

}


@media (max-width: 450px) {
  html {
  font-size: 10px;
  }
  #overview blockquote {
    padding: 32px;
  }

  #overview .overview-detail {
    margin-top: 32px;
  }
  #home .leave-top-margin {
	left: -25px;
  }
  .learn-more {
  	margin-bottom: 10rem;
	margin-top: 5px !important;
  }
  ui h1 {
  	font-size: 2.5rem;
  	line-height: 2.5rem;
  	letter-spacing: 5px;
  }
  ui h3 {
  	font-size: 1.7rem;
  	line-height: 1.7rem;
  	letter-spacing: 1px;
  }

}

@media (max-width: 390px) {
  html {
  font-size: 10px;
  }
  #overview blockquote {
    padding: 32px;
  }

  #overview .overview-detail {
    margin-top: 32px;
  }
  #home .leave-top-margin {
	left: -25px;
  }
  h2 {
  	line-height: 2rem;
  }
   .learn-more {
  	margin-bottom: 15rem;
  }
}

@media (max-width: 376px) {
.aircon-class a {
	padding-left: 7px;
}
}

.bookUnits{
    width: 30%;
    font-size: 79%;
    padding: 1%;
    -webkit-appearance: menulist-button;
}

.units-number{
    background: #f8a212;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff !important;
    text-align: center;
    width: 200px;
    /* margin-top: 12px; */
    /* background: #f8a212; */
    border: none;
    position: relative;

    margin: 0px 0px 0px 25px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    border-radius: 20px;


}

.general-section {
display: flex;
}


.general-section .units-number {
margin: 0px 0px 0px 25px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    border-radius: 20px;
}

    @media (max-width: 496px) {
     .general-section .bookUnits {
    width:100%;
    }
}

    @media (max-width: 362px) {
     .general-section .bookUnits {
    width:auto;
    }
}

.Service-text{
    text-align: left;
    max-width: 30em;
    color: red;
    letter-spacing: 0 !important;
    margin-bottom: 2%;
}


@media (min-width: 496px) and (max-width: 768px) {
    .bookUnits{
      width: 40% !important;
    }
}

.BookasTit {
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    font-weight: bold;
}

.BookSesB {
    padding: 0px;
    float: left;
    width: 100%;
    border: 1px solid #e9e9e9;
    background: #f6f6f6;
    border-radius: 5px;
}

.Book-now1{
   display:none;
}

/*FAQS*/

@media (max-width: 700px){
    .faq_question {
      font-size: 21px !important;
    }
}
.faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    cursor: pointer;
    font-weight: bold;
        text-align: left;
    background-color: rgb(236, 236, 236);
    font-size: 32px;
    padding: 15px;
    margin-top: 15px;

}

.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
    margin-top: 15px;
    outline: currentcolor none medium;
    cursor: pointer;
    text-align: left;
    font-size: 20px;

}

.aircon-ser-text{
    -webkit-transform: rotate(-6deg); padding-bottom: 0px; text-transform: inherit; font-size: 2.8rem;
}

.affordable-text{
    -webkit-transform: rotate(-6deg);
border: 10px solid #117a8b;
border-radius: 15px;
padding: 15px;
font-size: 4.7rem;
color: #f8a212;letter-spacing: -1px
}

.leave-top-margin p{
    color:#ffff; margin-bottom: 0rem;
}

.SGD20{
    color:#117a8b; font-size: 4rem; letter-spacing: -1px;
}

.SGD20 .SGD20-span{
    color:#ffff;-webkit-transform: rotate(15deg);
    display: inline-block;
    font-size: 4rem;
}

.SGD20-units{
    font-size: 20px;
    letter-spacing: -1px;
    text-transform: initial;
}


.afford-text{
-webkit-transform: rotate(-6deg);
border: 10px solid #117a8b;
border-radius: 15px;
padding: 15px;
font-size: 4.7rem;
color: #117a8b;letter-spacing: -1px
}

@media (max-width: 652px){
    .afford-text{
        font-size: 3.7rem !important;
    }
}


@media (max-width: 551px){
    .afford-text{
        font-size: 3rem !important;
        border: 5px solid #117a8b;
        padding: 10px;
    }

    .Aircon-servicing-text{
        font-size: 1.8rem !important;
    }

    .SGD20{
        font-size: 2.5rem !important;
        text-align: right;
        margin-right: 125px;
    }

    .SGD20 .SGD20-span{
        font-size: 2rem !important;
    }

    .low-text{
        text-align: right;
        margin-right: 125px;
    }
}

@media (max-width: 380px){
    .afford-text{
        font-size: 2.5rem !important;
        border: 5px solid #117a8b;
        padding: 5px !important;

    }

    .SGD20{
        text-align: right;
        margin-right: 10px !important;
    }

    .low-text{
        text-align: right;
        margin-right: 10px !important;

    }
}
@media (max-width: 450px){

    .low-text{
       text-align: right;
       margin-right: 60px;
    }

    .SGD20{
        text-align: right;
       margin-right: 60px;
    }
}

.Aircon-servicing-text{
    -webkit-transform: rotate(-6deg);
    padding-bottom: 0px;
    text-transform: inherit;
    font-size: 2.8rem;
}

.low-text{
    color:#ffff;
    margin-bottom: 0rem;
}

.SGD20{
    color:#117a8b;
    font-size: 4rem;
    letter-spacing: -1px;
    margin-left: 10px;
}

.leave-top-margin p {
    margin-left: 10px;
    font-weight: 600;
}

.units-discounted-price{
    color: red;
}

.units-price{
    margin-left: 20px;
    color: #000;
}


